---
import Layout from '../layouts/Layout.astro';
import ArrowRightIcon from '../components/icons/ArrowRightIcon/ArrowRightIcon.astro';
import { PAGE } from '../data/content';
import './404.scss';
---

<Layout title={PAGE.notFound.title} description={PAGE.notFound.description}>
  <main class="not-found">
    <div>
      <p class="not-found__eyebrow">{PAGE.notFound.eyebrow}</p>
      <h1 class="not-found__code">{PAGE.notFound.code}</h1>
      <p class="not-found__desc">{PAGE.notFound.message}</p>
      <a href="/" class="not-found__link">{PAGE.notFound.linkLabel} <ArrowRightIcon /></a>
    </div>
  </main>
</Layout>
